<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio SAP</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

    <input type="hidden" id="group" value="<%= group %>" />

    <div class="rooms">
        <%= group %>
    </div>

    <script type="text/javascript">

        let host = window.location.hostname == 'localhost' ? 'http://'+window.location.hostname+':3000' : 'https://'+window.location.hostname

        const group = JSON.parse( $('#group').val() )
        const maxPlayers = group.room_size

        console.log('group', group)
        
        renderRooms(group)

        var socket = io(host)

        //socket.emit('addInfoToSocket', group)

        function enterRoom(hash){
            //socket.emit('enterRoom', hash)
        }

        function checkDisableRoom(hash, players, maxPlayers){
            console.log('checkDisableRoom', hash, players, maxPlayers)
            if( players == maxPlayers ){
                console.log('true')
                let divId = $('#room_'+hash)
                console.log(divId)
                divId.addClass('disabled')
                divId.find('button').attr('disabled','disabled')
            }
        }

        function updateRoomPlayers(hash, players){
            $('#players_'+hash).html(players)
            checkDisableRoom(hash, players, maxPlayers)
        }

        socket.on('receivedRoomPlayers', function(data) {
            console.log('receivedRoomPlayers', data)
            updateRoomPlayers(data.hash, data.players)
        })

        function renderRoom(room, roomSize) {
            $('.rooms').append('<div class="room" id="room_'+room.hash+'"><div><strong>'+room.title+'</strong>: '+room.hash+'</div><div><i class="fas fa-users"></i><span id="players_'+room.hash+'">'+room.players+'</span>/'+roomSize+'</div> <div><button onclick="enterRoom(\''+room.hash+'\')">Entrar</button></div> </div>')
            checkDisableRoom(room.hash, room.players, roomSize)
        }

        function renderRooms(group){
            $('.rooms').html('')
            for( room of group.rooms ){
                renderRoom(room, group.room_size)
            }
        }
        
        socket.on('sendingRooms', function(group) {
            console.log('sendingRooms', group)
            renderRooms(group)
        })

    </script>
    
</body>
</html>